<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d894a795-c15c-486d-98b1-808f1d1d144d/resourcegroups/WebAPI120230205034216ResourceGroup/providers/Microsoft.Web/sites/WebAPI120230205035350</ResourceId>
    <ResourceGroup>WebAPI120230205034216ResourceGroup</ResourceGroup>
    <ApiResourceId>/subscriptions/d894a795-c15c-486d-98b1-808f1d1d144d/resourceGroups/WebAPI120230205034216ResourceGroup/providers/Microsoft.ApiManagement/service/WebAPI1api/apis/WebAPI1</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://webapi120230205035350.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <ProjectGuid>2e790032-a59c-433a-90f6-06802a7403db</ProjectGuid>
    <MSDeployServiceURL>webapi120230205035350.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>WebAPI120230205035350</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>true</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>true</EnableMSDeployBackup>
    <EnableMsDeployAppOffline>true</EnableMsDeployAppOffline>
    <UserName>$WebAPI120230205035350</UserName>
    <_SavePWD>true</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <TargetFramework>net6.0</TargetFramework>
    <SelfContained>false</SelfContained>
  </PropertyGroup>
</Project>